<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <header>
    <h1>ALIT</h1>
    <h3>Active Learning Issue Tracker</h3>
    <nav>
      <a href="index.html">Home</a>
    </nav>
    </header>
  <main>
    <h1>Instructor Log-In</h1>
    <br>
    <form action="/admin_db.php" method="post">
      Instructor ID Number:<br>
 <input type="text" name="ID_num" value="Required" required><br>
      Password:<br>
 <input type="password" name="password" required><br><br>
 <input type="submit" value="Submit">
  </main>
  <footer>
  </footer>
</body>
</html>
