<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <header>
    <h1>ALIT</h1>
    <h3>Active Learning Issue Tracker</h3>
    <nav>
      <ul>
      <li><a href="index.html" class="nav">Home</a></li>
    </ul>
    </nav>
  </header>
  <main>
    <p>Please Fill Out The Form Below To Submit Your Issue</p>
    <form action="issue_db.php" method="post">
      <textarea name="issue" cols="40" rows="25" required="required"></textarea>
        <input type="submit" value="Submit">
        <input type="reset">
    </form>
  </main>
  <footer>
  </footer>
</body>
</html>
