<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <header>
    <h1>ALIT</h1>
    <h3>Active Learning Issue Tracker</h3>
    <nav>
      <ul>
      <li><a href="index.html" class="nav">Home</a></li>
    </ul>
    </nav>
  </header>
  <main>
    <h1>Student Log-In</h1>
    <br>
    <form action="/stu_db.php" method="post">
      Student ID Number:<br>
 <input type="text" name="ID_num" value="Required" required><br>
      Password:<br>
 <input type="password" name="password" required><br><br>
 <input type="submit" value="Submit">
    </form>
  </main>
  <footer>
  </footer>
</body>
</html>
